.input-group-btn-filter .dropdown-menu a [type=radio],
.input-group-btn-filter .dropdown-menu a [type=checkbox] {
  width: 0px;
  height: 0px;
  display: none;
}
.input-group-btn-filter .dropdown-menu a input[type=radio]+i,
.input-group-btn-filter .dropdown-menu a input[type=checkbox]+i{
  float: right;
  margin-left: 10px;
  opacity: 0;
  line-height: inherit;
}
.input-group-btn-filter .dropdown-menu a input[type=radio]:checked +i,
.input-group-btn-filter .dropdown-menu a input[type=checkbox]:checked +i
{
  opacity: 1;
}