.form-group-vertical
{
  >*
  {
    border-radius: 0px;
    width: 100%;
    :focus
    {
      z-index: 2;
    }

    &:focus + *
    {
      border-top-color: @input-border-focus;

    }

    &:not(:last-child)
    {
      border-bottom-width: 0px;

    }
  }

  >*:first-child
  {
    border-radius: @input-border-radius @input-border-radius 0 0;
  }

  >*:last-child
  {
    border-radius: 0 0 @input-border-radius @input-border-radius;
  }
}