.form-top-field {
  border-radius: @input-border-radius @input-border-radius 0 0;
}
.form-mid-field {
  border: 0px;
  border-right:  1px solid @input-border;
  border-bottom: 1px solid @input-border;
  border-left:    1px solid @input-border;
  border-radius: 0 0 0 0;
}
.form-bot-field {
  .form-mid-field;
  border-radius: 0 0 @input-border-radius @input-border-radius;
}