//sets border radius properly for a correct display and handles z-index on focus for right glowing effect
.form-group-vertical
{
  >*
  {
    border-radius: 0px;
    width: 100%;
    z-index: 20;
    position:relative;

    &:focus + *
    {
      border-top-color: @input-border-focus;
      z-index: 10;
    }

    &:not(:last-child)
    {
      border-bottom-width: 0px;

    }
  }

  >*:first-child
  {
    border-radius: @input-border-radius @input-border-radius 0 0;
  }

  >*:last-child
  {
    border-radius: 0 0 @input-border-radius @input-border-radius;
  }
}