.forum-username{
  font-size: 10px;
}
@media (max-width: @screen-sm) {
  .table-forum th:not(:first-child):not(:last-child){
    display: none;
  }
  .table-forum td:not(:first-child):not(:last-child){
    display: none;
  }
}