@import "spans.less";
@import "forms-custom.less";
@import "notifications.less";
@import "navbar-custom.less";
@import "dropdown-custom.less";
@import "buttons-custom.less";
@import "filter.less";
@import "profile.less";
@import "accordion.less";
@import "search.less";
@import "icon.less";
@import "grid-custom.less";
@import "detail-page.less";
@import "panels-custom.less";
@import "table-custom.less";
@import "forum.less";
//TESTING AND PREVIEV STUFF
.preview-panel{
  margin: 50px;
}
#preview-form {
  margin: 15px;
}
.forum-profile-left{
  border-right: 1px solid @panel-default-border;
}
.inline{
  display: inline-block;
  vertical-align: top;
}
.bottom-right{
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.forum-header{
  position: relative;
}
.forum-picture{
  height: 100px;
}
.btn-group-justified-search{
  div:not(:first-child):not(:last-child){
    a{
      border-radius: 0px;
    }
  }
}