@import "forms-custom.less";
@import "spans.less";

@media (max-width: @screen-xsmall){
  .dropdown-min-width {
    min-width: 200px;
  }
  .border-large {
    border-radius:0 0 0 0;
  }
  .horicontal-center-80 {
    margin-left:0%;
    margin-right:0%;
  }
}
