@import "spans.less";
@import "forms-custom.less";
@import "notifications.less";
@import "navbar-custom.less";
@import "dropdown-custom.less";
@import "buttons-custom.less";
@import "filter.less";
@import "profile.less";
@import "accordion.less";
@import "search.less";
@import "icon.less";
@import "grid-custom.less";
@import "detail-page.less";
@import "panels-custom.less";
//TESTING AND PREVIEV STUFF
.preview-panel{
  margin: 50px;
}
#preview-form {
  margin: 15px;
  margin-bottom: 0;
}
.test{

}
.table-forum{
  .no-margin-bottom;
  td{
    vertical-align: middle !important;
  }
  th{
    width: 12.5%;
    &:first-child{
      padding-left: 15px;
      width: 37.5%;
    }
    &:last-child{
      width: 37.5%;
    }
  }
  td:first-child{
    padding-left: 15px;
  }
}
.forum-username{
  font-size: 10px;
}
@media (max-width: @screen-sm) {
 .table-forum th:not(:first-child):not(:last-child){
   display: none;
 }
 .table-forum td:not(:first-child):not(:last-child){
    display: none;
  }
}