//makes the navbar profile picture look bitter without destroying anything with the default paddings
.nav-bar-image{
  height: (@navbar-height*0.8);
  margin: -@navbar-padding-vertical 0;
}
//makes logout button's margin on acp look normal
@media (max-width: @screen-sm){
  .navbar-fixed-form{
    margin: 0;
  }
}