.table-forum{
  .no-margin-bottom;
  td{
    vertical-align: middle !important;
  }
  th{
    width: 12.5%;
    &:first-child{
      padding-left: 15px;
      width: 37.5%;
    }
    &:last-child{
      width: 37.5%;
    }
  }
  td:first-child{
    padding-left: 15px;
  }
}