<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet/less" type="text/css" href="../less/bootstrap.less">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/less-1.4.1.min.js" type="text/javascript"></script>
    <script src="../js/alert.js" type="text/javascript"></script>
    <script src="../js/affix.js" type="text/javascript"></script>
    <script src="../js/button.js" type="text/javascript"></script>
    <script src="../js/carousel.js" type="text/javascript"></script>
    <script src="../js/collapse.js" type="text/javascript"></script>
    <script src="../js/dropdown.js" type="text/javascript"></script>
    <script src="../js/modal.js" type="text/javascript"></script>
    <script src="../js/popover.js" type="text/javascript"></script>
    <script src="../js/tab.js" type="text/javascript"></script>
    <script src="../js/scrollspy.js" type="text/javascript"></script>
    <script src="../js/tooltip.js" type="text/javascript"></script>
    <script src="../js/transition.js" type="text/javascript"></script>
</head>
<body style="padding: 15px">
<div class="panel panel-default">
    <div class="panel-heading panel-single">Forum</div>
    <ol class="breadcrumb no-margin-bottom">
        <li><a href="#">Startseite</a></li>
        <li class="active">Forum</li>
    </ol>
</div>
<div class="panel panel-default">
    <div class="panel-heading">General</div>
    <div>
        <table class="table table-hover table-striped table-forum">
            <thead>
            <tr>
                <th class="hidden-xs">Titel</th>
                <th class="hidden-xs-sm">Themen</th>
                <th class="hidden-xs-sm">Beiträge</th>
                <th class="hidden-xs">Letzter Beitrag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Allgemeines zur Ribbl Community
                    <div class="forum-username"> von Hausi Hausmeister (03.12.2012, 12:59): die ganze alte Datenbank</div></td>
                <td class="hidden-xs-sm">26</td>
                <td class="hidden-xs-sm">107</td>
                <td class="hidden-xs">
                    Probleme bei Install
                    <div class="forum-username">
                        von Jürgen Schaumlechner (07.07.2013, 12:14)</div>
                </td>
            </tr>
            <tr>
                <td>Projektvorstellung</td>
                <td class="hidden-xs-sm">1</td>
                <td class="hidden-xs-sm">10</td>
                <td class="hidden-xs">
                    Gibt es schon eine Ribbl Referenz Community?
                    <div class="forum-username">von Sascha P. (26.06.2013, 21:01)</div>
                </td>
            </tr>
            <tr>
                <td>Fragen vor dem Kauf (1)</td>
                <td class="hidden-xs-sm">34</td>
                <td class="hidden-xs-sm">131</td>
                <td class="hidden-xs">
                    Maps
                    <div class="forum-username">von Doris Gföllner (20.08.2013, 12:39)</div>
                </td>
            </tr>
            <tr>
                <td>Systemanforderungen & Serverkonfiguration</td>
                <td class="hidden-xs-sm">4</td>
                <td class="hidden-xs-sm">18</td>
                <td class="hidden-xs">
                    Problem bei Berechtigungsanzeige
                <div class="forum-username">von Stefan O. [Obi] (07.06.2013, 11:46)</div>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Not so General</div>
    <div>
        <table class="table table-hover table-striped table-forum">
            <thead>
            <tr>
                <th class="hidden-xs">Titel</th>
                <th class="hidden-xs-sm">Themen</th>
                <th class="hidden-xs-sm">Beiträge</th>
                <th class="hidden-xs">Letzter Beitrag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Voll Unwichtig</td>
                <td class="hidden-xs-sm">0</td>
                <td class="hidden-xs-sm">0</td>
                <td class="hidden-xs">Keine Beiträge vorhanden.
                </td>
            </tr>
            <tr>
                <td>Projektvorstellung</td>
                <td class="hidden-xs-sm">1</td>
                <td class="hidden-xs-sm">10</td>
                <td class="hidden-xs">
                    Gibt es schon eine Ribbl Referenz Community?
                    <div class="forum-username">von Sascha P. (26.06.2013, 21:01)</div>
                </td>
            </tr>
            <tr>
                <td>Fragen vor dem Kauf (1)</td>
                <td class="hidden-xs-sm">34</td>
                <td class="hidden-xs-sm">131</td>
                <td class="hidden-xs">
                    Maps
                    <div class="forum-username">von Doris Gföllner (20.08.2013, 12:39)</div>
                </td>
            </tr>
            <tr>
                <td>Systemanforderungen & Serverkonfiguration</td>
                <td class="hidden-xs-sm">4</td>
                <td class="hidden-xs-sm">18</td>
                <td class="hidden-xs">
                    Problem bei Berechtigungsanzeige
                    <div class="forum-username">von Stefan O. [Obi] (07.06.2013, 11:46)</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right hidden-xs">#2 </div><img class="media-object pull-left forum-picture img-rounded inline" src="https://www.ribbl.com/community/files/avr/avatars/thumb100/105_08a4e924f6f7277a1313b93ad72c4117_Foto0024.jpg">
        <h3 class="no-margin">Daniel Volz
            <span data-toggle="tooltip" data-placement="right" title="Mitglied (408)">
                <i class="icon-envelope-alt"></i>
                <i class="icon-envelope-alt"></i>
                <i class="icon-envelope-alt"></i>
            </span>
        </h3>
        <div class="pull-right hidden-xs"> 11.05.2013, 12:21
        </div><div class="btn-group">
        <a href="#"><i class="icon-envelope-alt"></i> Persönliche Nachricht</a>

    </div>
        <div class="pull-right text-right"></div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <p>Hallo Alexander,<br><br>Danke für Deine Nachricht.<br>In dem Fall wäre das zusätzliche Modul ja dann doch besser, denn dort könnte ich die Benutzerdaten aus XTD exportieren, und per Benutzerimport wieder importieren, ohne Workaround.<br><br>Ich schau mir das ganze mal in der Demo an, ob es so klappt wie ich mir das vorstelle. ;)<br><br>Gruß, Daniel</p>

        <hr>
        <p>Hier kommt eine Signatur her ...</p>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default"><i class="icon-quote-right"></i>  Zitieren</button>
            <button type="button" class="btn btn-default"><i class="icon-remove"></i> Löschen</button>
            <button type="button" class="btn btn-default"><i class="icon-pencil"></i> Bearbeiten</button>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right hidden-xs">#2 </div><img class="media-object pull-left forum-picture img-rounded inline" src="https://www.ribbl.com/community/files/avr/avatars/thumb100/105_08a4e924f6f7277a1313b93ad72c4117_Foto0024.jpg">
        <h3 class="no-margin">Daniel Volz
            <span data-toggle="tooltip" data-placement="right" title="Mitglied (408)">
                <i class="icon-envelope-alt"></i>
                <i class="icon-envelope-alt"></i>
                <i class="icon-envelope-alt"></i>
            </span>
        </h3>
        <div class="pull-right hidden-xs"> 11.05.2013, 12:21
        </div><div class="btn-group">
        <a href="#"><i class="icon-envelope-alt"></i> Persönliche Nachricht</a>

    </div>
        <div class="pull-right text-right"></div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <p>Hallo Alexander,<br><br>Danke für Deine Nachricht.<br>In dem Fall wäre das zusätzliche Modul ja dann doch besser, denn dort könnte ich die Benutzerdaten aus XTD exportieren, und per Benutzerimport wieder importieren, ohne Workaround.<br><br>Ich schau mir das ganze mal in der Demo an, ob es so klappt wie ich mir das vorstelle. ;)<br><br>Gruß, Daniel</p>

        <hr>
        <p>Hier kommt eine Signatur her ...</p>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default"><i class="icon-quote-right"></i>  Zitieren</button>
            <button type="button" class="btn btn-default"><i class="icon-remove"></i> Löschen</button>
            <button type="button" class="btn btn-default"><i class="icon-pencil"></i> Bearbeiten</button>
        </div>
    </div>
</div>
</body>
</html>